#footer {
    margin-top: 30px;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

#footer>.footer-title{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

#footer>.footer-title>img {
    height: 64px;
    width: 64px;
    margin: auto;
}