#footer {
    margin-top: 30px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

#footer > div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

#footer>a>.footer-title {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

#footer>a>.footer-title>img {
    height: 64px;
    width: 64px;
    margin: auto;
}

#footer>a>.footer-title>div>h3:nth-child(2) {
    border-bottom: 1px solid var(--color-white);
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    #footer {
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin: auto;
    }

    #footer > div:last-child{
        margin: auto;
        column-gap: 50px;
    }

    #footer>a>.footer-title>img {
        margin: inherit;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 30px;
    }

    #footer>a>.footer-title {
        gap: 0;
    }

}


/* Under footer */
#contact{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--color-black-secondary);
    color: var(--color-white);
    text-align: center;
}