/* Clase manipulada por js */
.bg-color{
    background-color: var(--color-primary) !important;
    transition: background-color 200ms;
}

/* Clase manipulada por js */
.bg-white{
    background-color: var(--color-white) !important;
    transition: background-color 200ms;
}


/* Header Section */
#header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 var(--border-radius-header) var(--border-radius-header);
    z-index: 100;
}


#header > a {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom-left-radius: var(--border-radius-header);
}
#header > a > span{
    text-align: center;
    padding-left: 14px;
}

#header > a > img{
    width: 2rem;
    height: auto;
}

#icon-hamburger{
    display: none;
}

#header>ul {
    display: flex;
    list-style-type: none;

}

#header>ul>li>a {
    padding: var(--padding-header--heigth-elements) 32px var(--padding-header--heigth-elements) 32px;
    display: block;
    transition: background-color 250ms, color 250ms;
}

#header>ul>li:last-child>a {
    border-bottom-right-radius: var(--border-radius-header);
}

#header>ul>li:hover>a {
    background-color: var(--color-black);
    color: var(--color-primary);
}



@media screen and (max-width: 600px) {
    #icon-hamburger{
        display: block;
        padding: 25px;
        cursor: pointer;
    }

    #header>ul {
        display: none;
    }
}