#our-services {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0 10%;
     overflow-x: hidden;
}

#our-services>h2,
#our-services>p {
    text-align: center;
    width: 50%;
}

#our-services>p {
    margin-bottom: 50px;
}

#our-services>.services {
    display: flex;
    flex-direction: row;
    
}

#our-services>.services>div {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 0 100px;
}

#our-services>.services>div>div {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 3px solid var(--color-black-secondary);
}

#our-services>.services>div>div>h3 {
    text-align: center;
    color: var(--color-primary-shadow);
    margin-bottom: 10px;
}
    
#our-services>.services>div>div>p {
    text-align: center;
}


.circle-left, .circle-right
{
    width: 150px;
    height: 150px;
    background-color: var(--color-primary-shadow33);
    border-radius: 50%;
    position: absolute;
}

.circle-left{
    left: 20%;
    bottom: 5%;
}

.circle-right{
    right: 10%;
    bottom: 0;

}


@media screen and (max-width: 950px) {
    #our-services{
        margin-bottom: 70px;
    }

    #our-services>h2,
    #our-services>p {
        width: 100%;
    }
    
    #our-services>.services>div {
        padding: 0 10px;
    }

    #our-services>.services>div>div {
        margin-bottom: 20px;
    }

    .circle-left{
        left: -7%;
    }
    
    .circle-right{
        right: 2%;
        bottom: 5px;    
    }
}


@media screen and (max-width: 600px) {
    #our-services>.services>div {
        row-gap: 0;
    }
    
    #our-services, #our-services > .services{
        flex-direction: column;
    }

    #our-services>.services>div>div:last-child {
        border-bottom: none;
    }

    .circle-left{
        left: -50%;
        top: 10%;
    }
    
    .circle-right{
        right: -20%;
        bottom: 10%;    
    }
}