:root {
    --color-white: #fffafb;
    --color-black: #131515;
    --color-black-secondary: #2b2c28;
    --color-primary: #7de2d1;
    --color-primary-shadow: #339989;
    --color-primary-shadow85: #33998985;
    --color-primary-shadow90: #33998990;
    --border-radius: 10px;
    --border-radius-header: 0px;
    --padding-header--heigth-elements: 2rem;
    --margin-heigth-elements: 2rem;
    --transition-time: 250ms;
    --horizontal-padding: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--color-white);

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.icon-size {
    width: 15px;
    height: auto;
}

.invert-hor {
    transform: rotateZ(180deg);
}

.subheading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.button-primary,
.button-secondary {
    text-decoration: none;
}

/* Estilado botón primario */
.button-primary {
    color: var(--color-white);
    background-color: var(--color-primary-shadow);
    padding: 15px 40px;
    border-radius: 20px;
    transition: box-shadow var(--transition-time) ease-out;
}


.button-primary:hover {
    box-shadow: 3px 2px 22px 1px var(--color-primary-shadow90);
}

.button-primary:active,
.button-secondary:active {
    animation: click 250ms ease-out;
}

@keyframes click {
    from {
        scale: 1;
    }

    to {
        scale: 0.95;
    }
}

/* Estilado botón secundario */
.button-secondary {
    color: var(--color-primary-shadow);
    background-color: transparent;
    padding: 15px 40px;
    border-radius: 20px;
    border: 2px solid var(--color-primary-shadow);
}

.button-secondary:hover {
    box-shadow: 3px 2px 22px 1px var(--color-primary-shadow85);
}

/* No decoration for a tags */

.no-decoration-text-black {
    text-decoration: none;
    color: var(--color-black);
}

.no-decoration-text-white {
    text-decoration: none;
    color: var(--color-white);
}

.list-style-none {
    list-style: none;
}

/* Opción animada */

.line-hover::after {
    content: "";
    display: block;
    border-bottom: 1px solid #3f3f3f;
    padding-bottom: 3px;
    width: 0%;
    transition-duration: 0.5s;
}

.line-hover:hover::after {
    width: 100%;

}


@media screen and (max-width: 900px) {
    .button-primary {
        color: var(--color-white);
        background-color: var(--color-primary-shadow);
        padding: 15px 20px;
        border-radius: 20px;
        transition: box-shadow var(--transition-time) ease-out;
    }

    .button-secondary {
        color: var(--color-primary-shadow);
        background-color: transparent;
        padding: 15px 20px;
        border-radius: 20px;
        border: 2px solid var(--color-primary-shadow);
    }
}