#recommended-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    min-height: 100vh;
}

#recommended-products > div:nth-child(2) {
    text-align: right;
    padding: 0 1rem;
}