#recommended-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    min-height: 100vh;
}

#recommended-products > div:nth-child(2) {
    text-align: right;
    padding: 0 1rem;
}


@media screen and (max-width: 950px) {
    #recommended-products {
        flex-direction: column;
    }
    
    #recommended-products > div:nth-child(1) {
        order: 2;
        margin-bottom: 50px;
    }
    #recommended-products > div:nth-child(2) {
        text-align: center;
        order: 1;
    }
}

@media screen and (max-width: 600px) {
    #recommended-products > div:nth-child(1) {
        margin-bottom: 50px;
    }
    #recommended-products > div:nth-child(2) {
        margin-bottom: 50px;
        text-align: center;
    }

}