.slider {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .btn-slider {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50% 5px 5px 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #ffffff75;
    font-size: 18px;
    transition: background-color 250ms;
  }
  .btn-slider:last-child {
    border-radius: 5px 50% 50% 5px;
  }
  
  .btn-slider:hover {
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 7px #5a5a5a);
  }

  .slider {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bottom-img > img{
      object-position: center bottom;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

    #about-us{
      position: absolute;
      bottom: 0;
    }